* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* =====Pre Loader(Yash)===== */
#loader-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black url(pre-loader/preloader2.gif) no-repeat center;
  z-index: 9999;
}

/* =====Background img(Yash)===== */
.container {
  top: 20%;
  background: url(landingPage2.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  background-color: rgb(0, 0, 0);
  height: 100vh;
}

/* =====Nav Bar(Yash)===== */

#navbar {
  transition: 0.4s;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 999;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  justify-content: space-between;
  align-items: center;
  display: none;
  padding-right: 0.5rem;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: ease-out;
  transform-origin: center;
  scroll-behavior: smooth;
}

.brand-title img {
  max-height: 45px;
  display: block;
  align-items: center;
  margin: 0.4rem;
  padding: 0.3rem;
  padding-left: 38%;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  padding-right: 0.7rem;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: rgb(27, 24, 24);
  padding: 1rem;
}

.navbar-links li a:hover {
  border-radius: 3rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
}

.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  scroll-behavior: smooth;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

@media (max-width: 1050px) and (min-width: 801px) {
  #navbar {
    font-size: 1rem;
    font-weight: 900;
    padding-right: 0.4rem;
  }

  .brand-title img {
    max-height: 45px;
    display: block;
    align-items: center;
    margin: 0.4rem;
    padding: 0.3rem;
    padding-left: 32%;
  }
}

@media (max-width: 800px) {
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    height: min-content;
  }

  .toggle-button {
    display: flex;
    padding-right: 2rem;
    scroll-behavior: smooth;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    color: rgb(0, 0, 0);
    flex-direction: column;
    padding-right: 1.5rem;
  }

  .navbar-links ul li {
    text-align: right;
    color: rgb(0, 0, 0);
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
    color: rgb(0, 0, 0);
  }

  .navbar-links.active {
    display: flex;
    color: rgb(255, 255, 255);
  }

  .brand-title img {
    max-height: 45px;
    display: block;
    align-items: center;
    margin: 0.4rem;
    padding: 0.3rem;
    padding-left: 20%;
  }
}

/* --------------- Page 1 Main (Yash) --------------- */

.main-title {
  font-family: "Montserrat", sans-serif;
  font-size: 4.5rem;
  position: absolute;
  color: rgb(255, 255, 255);
  top: 40%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate(-50%, -50%, 0);
  animation: animate linear 3s;
  animation-delay: 1.7s;
}

.main-title1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4.5rem;
  position: absolute;
  color: rgb(255, 255, 255);
  text-align: center;
  top: 60%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate(-50%, -50%, 0);
  animation: animate linear 3s;
  animation-delay: 1.7s;
}

@keyframes animate {
  0% {
    color: transparent;
  }
  100% {
    color: white;
    text-shadow: black 2px 2px;
  }
}
@media (max-width: 1000px) {
  .main-title {
    font-family: "Montserrat", sans-serif;
    font-size: 2.3rem;
    position: absolute;
    color: rgb(255, 255, 255);
    top: 40%;
    left: 50%;
  }
  .main-title1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.3rem;
    top: 50%;
    left: 50%;
  }
}

/* --------------- Page 2 (Anish) --------------- */

#welcomeScreen h2 {
  font-size: 3rem;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin: 50px;
  margin-top: 2rem;
  height: fit-content;
}

#welcomeScreen h2:after {
  content: "";
  display: block;
  height: 4px;
  width: 40px;
  background-color: #620df6;
  margin-top: 20px;
  margin-left: 50%;
}

#welcomeScreen h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  margin: 15px;
}

#welcomeScreen p {
  font-family: "Poppins", sans-serif;
}

#tagline {
  display: flex;
  justify-content: space-around;
}

#tagline .tags {
  margin: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25%;
}

#tagline .tags img {
  height: 7rem;
  margin: 10px;
}

/* Responsiveness */

@media (max-width: 900px) {
  #welcomeScreen h2 {
    font-size: 2.4rem;
  }
  #tagline {
    display: flex;
    flex-direction: column;
  }
  #tagline .tags {
    padding: 10px 20%;
    width: auto;
  }
}

@media (max-width: 550px) {
  #welcomeScreen h2 {
    font-size: 2.4rem;
    margin: 40px;
    margin-bottom: 25px;
  }
  #tagline .tags {
    padding: 5px 15%;
    margin: 10px;
    width: auto;
  }
}

/* === Tiles (Desktop View) === */

#aGist {
  position: relative;
  margin: 60px auto 100px;
  max-width: 1100px;
  width: 95vw;
  height: 85vh;
}

#aGist .item {
  border-radius: 0.7rem;
  margin: 10px;
  background: no-repeat url("images/pexels-ruslan-burlaka-140945.jpg");
  background-size: cover;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#aGist .group {
  position: relative;
  display: flex;
}

.upper {
  width: 100%;
}

#aGist .a {
  width: 29%;
  height: 57vh;
  margin-top: 8vh;
  box-shadow: inset 0 0 0 100vmax rgba(196, 196, 196, 0.7);
}

#aGist .b {
  width: 42%;
  height: 45vh;
  box-shadow: inset 0 0 0 100vmax rgba(98, 13, 246, 0.7);
  color: white;
}

#aGist .c {
  width: 29%;
  height: 45vh;
  box-shadow: inset 0 0 0 100vmax rgba(196, 196, 196, 0.7);
}

.lower {
  width: 75%;
  left: 29%;
  top: -18vh;
}

#aGist .d {
  width: 32%;
  height: 24vh;
  box-shadow: inset 0 0 0 100vmax rgba(165, 166, 246, 0.7);
}

#aGist .e {
  width: 40%;
  height: 40vh;
  box-shadow: inset 0 0 0 100vmax rgba(98, 13, 246, 0.7);
  color: white;
}

#aGist .f {
  width: 28%;
  height: 18vh;
  box-shadow: inset 0 0 0 100vmax rgba(165, 166, 246, 0.7);
  margin-right: 3vw;
}

.overlay {
  display: flex;
  align-items: center;
  text-align: left;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 1.2rem;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
  border-radius: 0.7rem;
  opacity: 0;
  transition: all 0.6s ease-in;
  color: white;
}

.item:hover .overlay {
  opacity: 1;
}

#aGistMob {
  display: none;
}

@media (max-width: 760px) {
  /* Code for tiles on mobile will go here   */
  #aGist {
    display: none;
  }
  #aGistMob {
    display: flex;
    flex-direction: column;
    margin: 30px auto 30px;
    display: block;
  }
  .group {
    display: flex;
    align-items: center;
  }
  .item {
    height: 100px;
    width: 100px;
    background: no-repeat url("images/pexels-ruslan-burlaka-140945.jpg");
    background-size: cover;
    border-radius: 10px;
    margin: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .aM {
    height: 18vh;
    width: 30%;
    margin-left: 0px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: inset 0 0 0 100vmax rgba(165, 166, 246, 0.7);
  }
  .bM {
    height: 23vh;
    width: 60%;
    box-shadow: inset 0 0 0 100vmax rgba(196, 196, 196, 0.7);
  }
  .group.two {
    justify-content: space-between;
  }
  .cM {
    height: 20vh;
    width: 12%;
    margin-left: 0px;
    margin-top: 5vh;
    border-radius: 0px 10px 10px 0px;
    box-shadow: inset 0 0 0 100vmax rgba(165, 166, 246, 0.7);
  }
  .dM {
    width: 70%;
    height: 27vh;
    box-shadow: inset 0 0 0 100vmax rgba(98, 13, 246, 0.7);
    color: white;
  }
  .eM {
    height: 20vh;
    width: 12%;
    margin-right: 0px;
    margin-bottom: 5vh;
    border-radius: 10px 0px 0px 10px;
    box-shadow: inset 0 0 0 100vmax rgba(165, 166, 246, 0.7);
  }
  .group.three {
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .fM {
    width: 30%;
    height: 18vh;
    box-shadow: inset 0 0 0 100vmax rgba(196, 196, 196, 0.7);
  }
  .gM {
    width: 65%;
    height: 28vh;
    box-shadow: inset 0 0 0 100vmax rgba(98, 13, 246, 0.7);
    color: white;
  }
}

/* ====== OUR INITIATIVES (Anish) ===== */

.ourInitiatives {
  background: #464547;
  margin-top: 2rem;
  text-align: center;
  top: 50%;
  left: 50%;
}

#heading2 {
  padding: 1.5rem;
  color: #fffafa;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 4.5rem;
}

#card1 {
  background-color: #1994b3;
}

#card2 {
  background-color: #0029d2;
}

#card3 {
  background: #575757;
}

.card {
  flex: 1;
  padding: 15px;
}

.title {
  text-align: center;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  padding-top: 0.4rem;
  margin-bottom: 12px;
  font-size: 2.5rem;
  line-height: 3rem;
  text-shadow: black 1px 1px;
  color: white;
}

.content {
  font-family: Noto Serif Bengali;
  font-size: 1.1rem;
  line-height: 30px;
  text-align: center;
  letter-spacing: 2px;
  display: flex;
  color: white;
}

.images {
  display: flex;
}

.images > img {
  width: calc(100% / 3);
}

@media (max-width: 900px) {
  .content {
    flex-direction: column;
  }
  .content .card {
    flex: 1 1 0;
  }
  .contentCard {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .images {
    display: none;
  }
}

@media (max-width: 800px) {
  #heading2 {
    font-size: 3.5rem;
  }
}

/* =====Contact us Form(yash)===== */

.form {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.getInTouch,
.contactUs,
.stayUpdated {
  padding-left: 5rem;
  width: 33.33vw;
  position: relative;
  display: inline-block;
}

.formHeading {
  font-family: "Montserrat", sans-serif;
  position: relative;
  padding-top: 2rem;
  margin-top: 2rem;
  font-size: 2rem;
  border-bottom: 5px #620df6;
  text-decoration: underline #620df6 0.2rem;
}

.touchHeading {
  font-family: "Montserrat", sans-serif;
  position: relative;
  padding-top: 2rem;
  margin-top: 2rem;
  font-size: 2rem;
  text-decoration: underline #620df6 0.2rem;
}
.updateHeading {
  font-family: "Montserrat", sans-serif;
  position: relative;
  padding-top: 2rem;
  margin-top: 2rem;
  font-size: 2rem;
  text-decoration: underline #620df6 0.2rem;
}

.getInTouch ul li,
.stayUpdated ul li {
  text-decoration: none;
  list-style: none;
}
.contactUs ul li {
  text-decoration: none;
  list-style: none;
}

.getInTouch ul,
.contactUs ul {
  padding-top: 1.2rem;
}

.stayUpdated ul{
  padding-top: 2.8rem;
}

.getInTouch .formLogo {
  padding-left: 0.5rem;
  padding-top: 1.5rem;
}

.getInTouchContent {
  padding-left: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}

.formContent {
  position: relative;
  padding-top: 1.5rem;
}

input {
  width: 10rem;
  margin-top: 0.2rem;
  border: none;
}

.formInput {
  width: 15rem;
  height: 30px;
}

.formLogo {
  justify-content: center;
  padding-right: 2px;
  padding-top: 0.2rem;
  border-radius: 0.3rem;
  height: 30px;
  width: 30px;
}

.contactButton {
  border: none;
  width: 5rem;
  height: 20px;
  background: rgba(98, 13, 246, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 4px;
  border: 0.5px solid rgba(255, 255, 255, 0.18);
  color: white;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  margin-top: 1.5rem;
}

::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  text-align: center;
  height: 30px;
  background: rgba(184, 184, 184, 0.25);
  box-shadow: 0 2px 2px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@media (max-width: 800px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .getInTouch,
  .contactUs,
  .stayUpdated {
    width: 100vw;
    display: flex;
    flex-direction: column;
    width: min-content;
    justify-content: center;
    align-items: center;
  }
  .formHeading,
  .touchHeading,
  .updateHeading {
    font-size: 2rem;
    width: max-content;
    padding-right: 2rem;
  }
  .formInput {
    width: 7rem;
    height: 30px;
  }
  .formLogo {
    padding-right: 3px;
    border-radius: 0.3rem;
    height: 25px;
    width: 25px;
  }
}

/* =====footer(yash)===== */
footer {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #620df6;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

footer > a {
  display: block;
  height: max-content;
  text-decoration: none;
  width: 100%;
}

#footerbottom {
  background-color: #4a4d55;
  font-size: 10px;
  color: cornsilk;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  margin: 0;
}

footer img {
  margin-top: 25px;
  margin-bottom: 0px;
}

footer p {
  letter-spacing: 2px;
  margin-top: 25px;
}

#logoContnr {
  margin: 30px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 300px;
}

svg {
  color: #620df6;
}

svg:hover,
svg:active {
  cursor: pointer;
  color: purple;
}
